.grid-images{
    display: flex; 
    flex-wrap: wrap; 
    /*justify-content: space-around;*/
}

.grid-images figure{
    width: 33%;
    margin: 0.35cm 0;
    padding: 0 5mm;
    text-align: center;
}

.grid-images figcaption{
    font-size: 5pt;
    margin-top: 2mm;
}

.grid-images figure img{
    padding: 3mm;
}
.grid-images figure img[src~="drawing"] {
    border-radius: 100%;
    filter: blur(2px);
}