.jello-wrapper{
  columns: 3;
  column-gap: var(--gap);
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  
}

.jello-wrapper figcaption{
  font-size: 5pt;
  padding: 0;
  transform: rotate(-90deg);
  transform-origin: top left;
  position: relative;
  left: -1.7em;
}
.jello-wrapper figure{
  margin: 0.2cm 0 0 0;
}

.jello-wrapper p{
	margin:0;
}

.pagedjs_right_page .jello-wrapper{
	margin-top: 3cm !important;
}
