/* ----- MUSIC PART ----- */

.kimin{
  page-break-before: always;
  page: kimin;
}

@page kimin{
  margin: 0;
  @bottom-left { content: none; }
  @bottom-center { content: none; }
  @bottom-right { content: none; }
}

.kimin-left figure, .kimin-right figure {
  overflow: hidden; 
  height: 1.105cm;
  position: relative;
}

.kimin-left figure img, .kimin-right figure img{
  width: 200%;
  position: relative;
  top: -5cm;
}

.kimin-right figure img{
  left: -100%;
}


/* ----- TRACK LIST ----- */
.tracklist{
  page: tracklist;
  page-break-after: always;
}
.tracklist p{
  margin: 0;
  transform: rotate(calc(var(--nbr) * 8deg));
}
