/*-------  MORITZ ------- */
/* custom the images design here */
.corner-image{
  /* change the width of images */
  width: 122px;  
  position: absolute;
  /* minus the size of the margins to position the images */
  top: -5mm;
  right:-16mm;
  /* blurry and image effect */
  filter: blur(2px) contrast(100%) brightness(170%) saturate(200%);
}

.pagedjs_right_page .corner-image{
  right: -7mm;
}

.pagedjs_kimin_page .corner-image{
  top: 0;
  right: 0;
}