@font-face {
    font-family: 'ocr';
    src: url('fonts/ocr-pbi-canonique.woff2') format('woff2'),
        url('fonts/ocr-pbi-canonique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root{
    --purple : blueviolet;
    --cyan : cyan;
    --fontsize: 9pt;
    --gap : 5mm;
}


body{
  display: flex;
  font-family: 'ocr', monospace; 
  font-size: var(--fontsize);
}
h1,h2,h3,h4{
  font-weight: normal;
  font-size: var(--fontsize);
  text-transform: uppercase;
}

h1{
  text-align: center;
  margin-bottom: 3cm;
}

h1:before{
  content: "**** ";
}

h1:after{
  content: "  **** ";
}

p{
  hyphens: auto;
}

header{
  /* display: none; */
}
figure, img{
    width: 100%;
    margin:0;
}

pre{
  font-family: 'ocr', monospace;
  font-size: var(--fontsize);
}

#introduction, #table-of-contents {
  /*margin-top: 5cm;*/
}

#table-of-contents h2{
  text-align: center;
  /*color: var(--purple);*/
  margin-bottom: 3cm;
}

.columns-3{
  columns: 3;
  column-gap: var(--gap);
  /*text-align: justify;*/
}
.chapter-title h1, .chapter-title h2{
  opacity: 0;
}

.map-title {
  width: calc(33% - var(--gap));
}

.map-title figure{
  box-shadow: 0 0 10px 1px var(--purple);
}

.chapter-intro{
  color: var(--purple);
}

.chapter-intro.break{
  break-before: page;
  page-break-after: always;
}

.image-big{
  position: absolute;
  bottom:0;
  width:100%;
  page-break-after: always;
}

.image-medium{
  position: absolute;
  bottom:0;
  right:0;
  width: calc(66.666% - calc(var(--gap)/2));
  page-break-after: always;
}

.image-small{
  position: absolute;
  bottom:0;
  right:0;
  width:calc(33% - calc(var(--gap)/2));
  page-break-after: always;
}

.image-left-pos{
  left:0;
}

.image-right-pos{
  right:0;
}

.image-top-pos{
  top:0;
}

.image-bottom-pos{
  bottom:0;
}


/*#renderbook,#content{
  height: 100vh;
  overflow-y: scroll;
}*/
/*#renderbook{
  width:100%;
  order: 2;
}
#content{
  width:20%;
  order: 1;
  background: #ccc;
  padding:5px;
  font-size: .7vw;
  display: none;
}
#content .end-text{
  width: 100%;
  height: 30px;
  display: block;
  margin-top:20px;
}
#content #cover img{
  display: none;
}*/