@media print {    
    
    /* Size and margin for all pages ------------- */
    @page {
        size: 130mm 210mm;
        margin: 5mm 16mm 13mm 7mm; 
    }  


    /* LEFT PAGES -------------------------------- */

    @page:left {
        margin-left: 7mm;
        margin-right: 16mm;
        @bottom-left {
            content: counter(page);
            width: 40px;
            font-size: var(--fontsize);
        }
        @bottom-center{
            content: "****Blur****factory****";
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 8px;
            font-size: var(--fontsize);
        }
    }


    /* RIGHT PAGES -------------------------------- */

    @page:right {
        margin-left: 16mm;
        margin-right: 7mm;
        @bottom-right {
            content: counter(page);
            width: 40px;
            font-size: var(--fontsize);
        }
        @bottom-center{
            content: '****'string(chapTitle)'****';
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 8px;
            font-size: var(--fontsize);
        }
    }

    .chapter-title h2 { string-set: chapTitle content(text); }

    /* BLANK PAGES -------------------------------- */

    @page:blank {
        @bottom-left { content: none; }
        @bottom-center { content: none; }
        @bottom-right { content: none; }
    }

    /* COVER -------------------------------- */

    @page:first{
        background: linear-gradient(36deg, cyan 0%, var(--purple) 70%);
        @bottom-left { content: none; }
        @bottom-right { content: none; }
        @bottom-center { content: none; }
    }

    #cover { 
        break-after: right; 
    }

    #cover figure{
        filter: invert(100%);
    }

    #entrance {
        padding-top: 7cm;
      break-before: right; 
    }

    #backcover{
      break-before: left; 
      page: backcover;
    }

    @page backcover{
        background: linear-gradient(-36deg, cyan 0%, var(--purple) 70%);
        @bottom-left { content: none; }
        @bottom-right { content: none; }
        @bottom-center { content: none; }
    }

    /* SECTION BREAKS -------------------------------- */

    .page{
      page-break-after: always;
      page: blank;
    }

    .page-right {
        break-before: right;
    }

    .page-left {
        break-before: left;
    }

    .chapter-title{
        break-before: left 
    }

    .image-title{
        position: absolute;
        top:0;
        left:0;
        width: calc(200% + 32mm);
    }

    .image-left{
        page-break-after: always;
    }

    .image-right{
        left: calc(-100% - 32mm);
    }

    .map-title{
        position: absolute;
        z-index: 3;
        left:0; 
        bottom:0;
    }

    .map-title h3{
        text-transform: uppercase;
        margin-bottom: 2mm;
        text-align: center;
    }

    /* TABLE OF CONTENTS --------------------------------------- */

    .toc-page{
      page: toc;
      break-before: right;
    }

    #list-toc-generated {
        margin:0;
        padding: 0;
    }
    #list-toc-generated li{
        /*color: var(--purple);*/
        text-align: center;
        margin-top: 2mm;
        margin-bottom: 2mm;
        text-transform: uppercase;
    }

    #list-toc-generated li:not(:first-child):before{
        content:"*";
        display: block;
        padding-bottom: 2mm;
    }

    #list-toc-generated li a{
        /*color: var(--purple);*/
        color: #000;
        text-decoration: none;
    }

    #list-toc-generated{ list-style: none;}

    #list-toc-generated .toc-element a::before{
        content: target-counter(attr(href), page);
        text-align: center;
        display:block;
    }


    /* counters */

    #list-toc-generated{ 
        counter-reset: counterTocLevel1; 
    }

    #list-toc-generated .toc-element-level-1{ 
        counter-increment: counterTocLevel1; 
        counter-reset: counterTocLevel2; 
    }

    /* hack for leaders */

    #list-toc-generated{
        overflow-x: hidden;
    }

}


