@media screen { 

	body{
	  background: blueviolet;
		margin-bottom: 50px;
	}

	.pagedjs_page{
	  border:none;
	  box-shadow: 0 0 50px cyan;
	}

	.pagedjs_right_page .pagedjs_pagebox{
	  background: linear-gradient(to right,rgba(0,255,255,.4) 0%,transparent 5%);
		border-left:1px solid #83cbe8;
	}
	.spot{
		opacity: 1;
		z-index: 2;
		animation: spot .5s ease-out forwards;
		}
	 .spot.small{width:40px; height:40px;}
	 .spot.medium{width:80px; height:80px;}
	 .spot.large{width:370px; height:370px;}
	 @keyframes spot {
		100% {
			opacity: 0;
		}
	}

	/* display columns*/
	.col-wrapper{
		pointer-events: none;
		width:100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: absolute;
		z-index: 100;
		top:0;
		left: 0;
	}

	.gui-column{
		width: calc(33% - calc(var(--gap) /2));
		height: calc(210mm - 18mm);
		/*border: 1px solid cyan;*/
	}

	.page-end{
		width:10px;
		height:10px;
		background: red;
		margin-top: 500px;
	}
}


