*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

body{
  font:16px sans-serif;
  line-height: 1.4;
  text-align: center;
}

.contentarea{
  width: 640px;
  height: 480px;
  position: relative;
  margin: 0 auto;
}
h1{
  width: 100%;
}
#output {
  position: absolute;
  z-index: 1;
}

#video, #photo, #output{
  width: 640px;
  height: 480px;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
}

#canvas {
  display: none;
}

/*#video,#photo,.mask {
  filter: blur(6px) grayscale(100%);
}*/

