:root{
  --w:640px;
}

*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.enough{
  padding:100px;
  font-size:50px;
  width:var(--w);
  margin: auto;
  border-radius:100%;
  filter: blur(10px);
  line-height: 1.2em;
  background: var(--col);
  animation: bluranim 5s linear 0s  alternate-reverse forwards;
}
@keyframes bluranim{
  0% {filter:blur(0px);}
}

body{
  font:16px/1.1em Ocr-Pbi, sans-serif;
  text-align: center;
  padding:0;
  margin:0;
}

.logo{
  position: absolute;
  width: 26%;
  bottom: 40px;
  left: 80px;
  z-index: 2;
}
.contentarea{
  position: relative;
  width: var(--w);
  margin: 0 auto;
}
h1{
  width: 100%;
}
#output {
  position: relative;
  width: var(--w);
  height: 470px;
  margin-bottom: 20px;
  overflow: hidden;
  z-index: 1;
}
#sketchpad{
  display: none;
  margin: 40px 120px 0 120px;
  top:0;
  left:0;
  z-index: 5;
  border-radius: 100%;
  background: var(--col);
  filter: blur(5px);
}
.sketchmode #output{height:400px;}
.sketchmode #sketchpad{display: block;}
.sketchmode #video, .sketchmode #photo, .sketchmode .color-overlay,
.sketchmode .mask-container, .sketchmode #startbutton{
  display: none;
}
.sketchmode #output,.sketchmode .contentarea{
  position: static;
}
.sketchmode .logo{
  display: none;
}
.instructions-ios{
  display: none;
}
.sketchmode .instructions-ios{
  display: block;
}
.mask-container{
  width: var(--w);
  height: 500px;
  overflow: hidden;
  pointer-events: none;
}
.mask{
  background-image: url(../mask.svg);
  background-repeat: no-repeat;
  /* background: url(../mask2.png) no-repeat; */
  background-size: 100% 100%;
  background-position: center;
  animation: anim 15s linear 0s infinite  forwards running;
  scale: 2;
  width: var(--w);
  height: 480px;
  pointer-events: none;
}
@keyframes anim{
  0% {rotate:0deg;}
  100% {rotate:360deg;}
}
.buttons{
  background:;
}
.color-overlay{
  background: var(--col);
  z-index: 2;
  mix-blend-mode: color;
}
#video, #photo, .color-overlay{
  width: var(--w);
  height: 480px;
  position: absolute;
  top:0;
  left: 0;
  overflow: hidden;
  pointer-events:none;
}

h1{position: absolute;}
.disclamer{
  padding:5px;
  text-align: left;
  width: var(--w);
  margin: 5vh auto 0 auto;
}
#canvas {
  display: none;
}

#video,#photo,.mask {
  filter: blur(6px) grayscale(100%);
}

button{
  filter: blur(1px);
  font-size: 24px;
  font-family: inherit;
  text-transform: uppercase;
  background: black;
  border: 0;
  color: white;
  padding: 3px 2px 0px 1px;
  border-radius: 6px;
  transition: all .2s ease;
}
button:hover:not(:disabled){
  background: var(--col);
  color: black;
}
button:disabled{
  background: gray;
}

@media only screen and (max-width: 700px) {
  :root{--w:100%;}
  #sketchpad{
    margin-left:auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 380px) {
  #sketchpad{
    /* width: 100%; */
  }
}