@font-face {
    font-family: 'Ocr-Pbi';
    src: url('Ocr-Pbi-print.woff2') format('woff2'),
        url('Ocr-Pbi-print.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

